<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科信息</title>
    <style>
        #container {
            width: 80%;
            margin: 10px auto;
        }
        .user {
            float: right;
            margin-right: 10px;
        }
        .user>a {
            margin-right: 10px;
        }
        #main>dl>dt {
            font-size: 1.5em;
            font-weight: bold;
        }
        #main>dl>dd {
            font-size: 1.2em;
        }
        a {
            text-decoration: none;
            color: darkcyan;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="user">
            {% if request.session.userid %}
               {{request.session.username }}
                <a href="">注销</a>
            {% else %}
                <a href="/login/">用户登录</a>
            {% endif %}
            <a href="/register/">快速注册</a>
        </div>
        <h1>北京千锋互联科技有限公司所有学科</h1>
        <hr>
        <div id="main">
            <dl>
                {%for subject in subjects %}
                <dt>
                    <a href="teachers/?sno={{subject.no}}">{{subject.name}}</a>
                    {%if subject.is_hot %}
                    <img src="/static/images/hot-icon-small.png">
                    {% endif %}
                </dt>
                <dd>
                    {{subject.intro}}
                </dd>
                {% endfor %}
            </dl>

        </div>
    </div>
</body>
</html>